.project-card {
  border: 1px solid black;
  height: 180px;
  margin: 30px auto;
  padding: 20px;
  width: 180px;
  word-wrap: break-word;

  &:hover{
    background: black;
  }
}

a,a:visited .project-card p {
  color: black;
}
